* {
  margin: 0;
  padding: 0;
  list-style: 0;
}
a {
  text-decoration: none;
}
body {
  min-width: 1000px;
}
.header {
  box-sizing: border-box;
  height: 75px;
  width: 100%;
  border: 2px solid red;
  border-top: none ;
}
.header .box {
  padding-top: 15px;
  margin: 0 auto;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 130px;
}
.header .logo img {
  width: 100%;
}
.header .headerNav {
  display: flex;
  align-items: center;
}
.header .headerNav a {
  margin-right: 50px;
  color: black;
  font-size: 20px;
}
.header .headerNav a:hover {
  color: red;
}
.header .right {
  display: flex;
  align-items: center;
}
.header .right a {
  width: 50px;
  height: 30px;
}
.header .right .search {
  background: url(../imgs/icon/search.png) 0 5px no-repeat;
  background-size: 20px;
}
.header .right .search:hover {
  transform: scale(1.2);
}
.header .right .register {
  border: 1px solid #f85c43;
  text-align: center;
  color: #f85c43;
  border-radius: 5px;
  line-height: 30px;
}
.footer {
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: #505050;
}
.footer a {
  color: #9f9d96;
  font-size: 14px;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .footerBox {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
}
.footer .footerBox .boxR {
  margin-left: 20px;
  display: flex;
}
.footer .list {
  margin-right: 20px;
}
.footer .list h5 {
  margin-bottom: 25px;
  color: #fff;
  font-weight: normal;
  font-size: 17px;
}
.footer .list h5 a {
  color: #fff;
  font-size: 17px;
}
.footer .list1 p:nth-of-type(2) {
  margin-bottom: 15px;
}
.footer .list2 {
  margin-left: -15px;
  padding-top: 50px;
}
.footer .banquan {
  font-size: 12px;
  position: relative;
  left: 700px;
}
